@import '../../styles/variables.scss';

$buttonSizeMd: 48px;

@mixin animationViewMobileNav($gap) {
  gap: $gap;
  scale: 1;
  animation: viewMobileNav var(--t-view-mobileNav) ease-out forwards;
  @keyframes viewMobileNav {
    0% {
      gap: calc($gap / 4);
      scale: 0.25;
    }
    100% {
      gap: $gap;
      scale: 1;
    }
  }
}
@mixin animationScaleDownMobileNav($gap) {
  gap: calc($gap / 4);
  grid-template-columns: repeat(3, 1fr);
  scale: 0.25;
  animation: scaleDownMobileNav var(--t-view-mobileNav) ease-out forwards;
  @keyframes scaleDownMobileNav {
    0% {
      gap: $gap;
      scale: 1;
    }
    100% {
      gap: calc($gap / 4);
      scale: 0.25;
    }
  }
}
@mixin animationFadeoutMobileNavContainer {
  animation: fadeoutMobileNavContainer var(--t-view-mobileNav) ease-out forwards;
  @keyframes fadeoutMobileNavContainer {
    0% {
      opacity: 1;
    }
    99% {
      width: $buttonSizeMd;
      height: $buttonSizeMd;
      opacity: 1;
      scale: 0.6;
    }
    100% {
      opacity: 0;
    }
  }
}

.button {
  display: none;
  position: relative;
  width: $buttonSizeMd;
  height: $buttonSizeMd;
  font-size: 2.2rem;
  color: var(--c-white);
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  backdrop-filter: blur(100px);
  border-radius: 17.5%;
  z-index: 1000;
}
.mobileNavContainer {
  display: block;
  gap: 120px;
  transform-origin: top left;
  &__fadeout {
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    @include animationFadeoutMobileNavContainer;
  }
}
.mobileNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform-origin: top left;
  &__fadeout {
    transform-origin: top left;
    display: none;
  }
}

@media screen and (max-height: 720px) {
  .button {
    display: block;
  }
  .mobileNavContainer {
    display: flex;
    gap: 80px;
  }
  .buttonMenuOpen {
    display: none;
  }
  .mobileNav {
    display: grid;
    @include animationViewMobileNav(calc(((100vw - (60px * 5)) / 4)));
    &__fadeout {
      @include animationScaleDownMobileNav(calc((100vw - (60px * 4)) / 5));
    }
  }
}
@media screen and (max-height: 720px) and (min-width: 768px) {
  .mobileNav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include animationViewMobileNav(calc((100vw - (60px * 5)) / 6));
    &__fadeout {
      @include animationScaleDownMobileNav(calc((100vw - (60px * 5)) / 6));
    }
  }
}
@include mediaQuery('xl') {
  .nav {
    gap: clamp(16px, calc((100vh - 640px) / 8), 32px);
  }
}
@include mediaQuery('lg') {
  .nav {
    gap: clamp(16px, calc((100vh - 640px) / 8), 26px);
  }
}
@include mediaQuery('md') {
  .nav {
    display: none;
    gap: clamp(16px, calc((100vh - 640px) / 8), 20px);
  }
  .button {
    display: block;
  }
  .mobileNavContainer {
    display: block;
    &__fadeout {
      @include animationFadeoutMobileNavContainer;
    }
  }
  .mobileNav {
    display: grid;
    @include animationViewMobileNav(calc((100vw - (72px * 4)) / 5));
    &__fadeout {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @include animationScaleDownMobileNav(calc((100vw - (72px * 4)) / 5));
    }
  }
  .buttonMenuOpen {
    display: none;
  }
}
@include mediaQuery('sm') {
  .mobileNav {
    display: grid;
    @include animationViewMobileNav(calc((100vw - (60px * 4)) / 5));
    &__fadeout {
      @include animationScaleDownMobileNav(calc((100vw - (60px * 4)) / 5));
    }
  }
}
