@import './variables.scss';

.section {
  @include section;
}
.ttl_container {
  @include ttl_container;
}
.main_ttl {
  @include ttl_l;
}
.sub_ttl {
  @include ttl_s;
}
.icon {
  border-radius: 50%;
}
.name {
  font-size: 3.2rem;
  letter-spacing: 0.15em;
  padding-bottom: 16px;
}
.profile {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-bottom: 40px;
}
.profile_txt {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.125em;
  & > :not(:last-child) {
    padding-bottom: 8px;
  }
}

.content {
  padding-top: 70px;
}
.ttl_en {
  @include ttl_m;
}
.ttl_jp {
  @include ttl_s;
}
.description {
  text-align: left;
  margin: 0 auto;
  max-width: 640px;
  font-size: 1.6rem;
  letter-spacing: 0.16em;
  line-height: 3;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
