@import './variables.scss';

$formBorderRadius: 6px;

@mixin viewErrorMessage($font-size) {
  opacity: 0;
  text-align: left;
  margin-top: 8px;
  font-size: $font-size;
  animation: viewErrorMessage 3.67s ease-out forwards;
  @keyframes viewErrorMessage {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.section {
  @include section;
  @include transition_spacing;
}
.ttl_container {
  @include ttl_container;
  @include transition_spacing;
}
.main_ttl {
  @include ttl_l;
  @include transition_text;
}
.sub_ttl {
  @include ttl_s;
  @include transition_text;
}

.form {
  padding: 24px 0;
  text-align: center;
  max-width: 768px;
  @include transition_all;
  &__personInfoContainer {
    display: flex;
    gap: 16px;
    margin-bottom: 40px;
    @include transition_all;
  }
  &__personInfo {
    width: 100%;
    min-width: 320px;
    @include transition_sizing;
  }
  &__message {
    margin-bottom: 48px;
  }
  &__item {
    font-size: 1.8rem;
    @include transition_text;
  }
  &__label {
    display: block;
    margin-bottom: 6px;
    text-align: start;
    color: var(--c-white);
    letter-spacing: 0.12em;
    @include transition_all;
  }
  &__text {
    display: block;
    width: 100%;
    padding: 10px 12px;
    font-size: 1.6rem;
    color: var(--c-white);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: $formBorderRadius;
    caret-color: var(--c-white);
    outline: var(--c-white);
    @include transition_sizing;
  }
  &__textArea {
    resize: vertical;
    min-height: 200px;
    height: 320px;
    transition: width var(--t-transition) var(--val-transition-timing-function);
  }
  &__button {
    position: relative;
    display: inline-block;
    padding: 16px 88px;
    letter-spacing: 0.12em;
    font-size: 1.8rem;
    color: var(--c-white);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.02);
    box-shadow: inset 0 0 60px rgb(255 255 255 / 6%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: $formBorderRadius;
    @include transition_all;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
  &__buttonLock {
    cursor: default;
  }
  &__buttonWait {
    cursor: wait;
  }
  &__buttonIcon {
    position: absolute;
    left: 12%;
    font-size: 2rem;
    color: rgba($color: #ffffff, $alpha: 0.8);
  }
  &__error {
    @include viewErrorMessage(1.4rem);
  }
}

@include mediaQuery('xl') {
  .form {
    &__personInfoContainer {
      margin-bottom: 32px;
    }
  }
}
@include mediaQuery('lg') {
  .form {
    &__personInfoContainer {
      flex-direction: column;
    }
    &__text {
      max-width: 384px;
    }
    &__textArea {
      height: 320px;
      max-width: 384px;
    }
  }
}
@include mediaQuery('md') {
  .form {
    &__item {
      font-size: 1.6rem;
    }
  }
}
@include mediaQuery('sm') {
  .form {
    &__label {
      margin-left: auto;
      margin-right: auto;
      max-width: 384px;
    }
    &__text {
      margin: 0 auto;
      max-width: 384px;
      padding-top: 10px;
    }
    &__textArea {
      max-width: 384px;
      min-height: none;
    }
    &__error {
      @include viewErrorMessage((1.2rem));
    }
  }
}
