:root {
  --c-navy: #130059;
  --c-white: #ffffff;

  --pt-section: 100px;
  --pb-section: 160px;
  --ptXl-section: 80px;
  --pbXl-section: 120px;
  --ptLg-section: 64px;
  --pbLg-section: 120px;
  --ptMd-section: 64px;
  --pbMd-section: 120px;
  --ptSm-section: 64px;
  --pbSm-section: 112px;

  --border-radius-thumbnail: 12px;

  --t-transition: 0.8s;
  --val-transition-timing-function: ease;

  --t-view-mobileNav: 0.5s;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: #106;
  background-image: radial-gradient(at 0 0, #f70, transparent 40%),
    radial-gradient(at 0 40%, #0df, transparent 40%),
    radial-gradient(at 40% 60%, #01f, transparent 80%),
    radial-gradient(at 0 100%, #faa, transparent 50%);
  background-attachment: fixed;
}
