:root {
  --c-navy: #130059;
  --c-white: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body {
  background-color: tomato;
}
