@import './variables.scss';

.section {
  @include section;
}
.ttl_container {
  @include ttl_container;
}
.main_ttl {
  @include ttl_l;
}
.sub_ttl {
  @include ttl_s;
}
.item {
  overflow: hidden;
  border-radius: 10px;
  &:not(:last-child) {
    max-width: 760px;
    margin-bottom: 80px;
    overflow: hidden;
  }
}
.thumbnail {
  max-width: 760px;
  width: 100%;
  height: auto;
  vertical-align: bottom;
  transition: transform 0.6s ease;
  &:hover {
    transform: scale(1.12);
  }
}
