@import './variables.scss';

.section {
  @include section;
  @include transition_spacing;
}
.ttl_container {
  @include ttl_container;
  @include transition_all;
}
.main_ttl {
  @include ttl_l;
  @include transition_text;
}
.sub_ttl {
  @include ttl_s;
  @include transition_text;
}

.thumbnailContainer {
  text-align: center;
  width: 100%;
}
.thumbnail {
  max-width: 768px;
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: 10px;
}

.contentContainer {
  max-width: 768px;
}

.nameContainer {
  padding: 48px 0 64px;
}
.date {
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 4px;
}
.name {
  font-size: 2.2rem;
  font-weight: 300;
}

.detailContainer {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  &__NoIcon {
    display: inline;
  }
}
.detail {
  &:last-child {
    padding: 0;
  }
  &__box {
    margin-bottom: 40px;
  }
  &__ttl {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 6px;
  }
  &__txt {
    font-size: 1.6rem;
    font-weight: 100;
  }
  &__url {
    color: var(--c-white);
    @include transition_text;
    &:hover {
      color: rgba($color: #ffffff, $alpha: 0.8);
    }
  }
}

.work {
  display: inline-block;
  text-align: center;
  &__iconWrap {
    vertical-align: bottom;
    margin-bottom: 12px;
  }
  &__icon {
    max-width: 180px;
    height: auto;
    border-radius: 17.5%;
  }
  &__shortName {
    font-size: 1.6rem;
  }
}
