@import './variables.scss';

.section {
  @include section;
}
.ttl_container {
  @include ttl_container;
}
.main_ttl {
  @include ttl_l;
}
.sub_ttl {
  @include ttl_s;
}
.thumbnailContainer {
  text-align: center;
  width: 100%;
}
.thumbnail {
  max-width: 760px;
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: 10px;
}

.contentContainer {
  max-width: 760px;
}
.name_box {
  padding: 22px 0 40px;
}
.date {
  font-size: 1.2rem;
  font-weight: 100;
}
.name {
  font-size: 2.2rem;
  font-weight: 300;
}
.detailSection {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  &__NoIcon {
    display: inline;
  }
}
.detail {
  :last-child {
    padding: 0;
  }
  &__box {
    padding-bottom: 24px;
  }
  &__ttl {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 4px;
  }
  &__txt {
    font-size: 1.6rem;
    font-weight: 100;
  }
  &__url {
    color: var(--c-white);
  }
}
.work {
  display: inline-block;
  text-align: center;
  &__iconBox {
    vertical-align: bottom;
    margin-bottom: 12px;
  }
  &__icon {
    max-width: 200px;
    height: auto;
    border-radius: 17.5%;
  }
  &__shortName {
    font-size: 1.6rem;
  }
}
