@import './variables.scss';

.section {
  @include section;
}
.ttl {
  text-align: center;
  padding-bottom: 64px;
}
.ttl_l {
  @include ttl_l;
}
.sub_ttl {
  @include ttl_s;
  margin-top: -1em;
}
.thumbnail {
  max-width: 760px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.name_box {
  padding: 22px 0 40px;
}
.date {
  font-size: 1.2rem;
  font-weight: 100;
}
.name {
  font-size: 2.2rem;
  font-weight: 300;
}
.detailSection {
  display: flex;
  gap: 32px;
}
.detail {
  :last-child {
    padding: 0;
  }
  &__box {
    padding-bottom: 24px;
  }
  &__ttl {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 4px;
  }
  &__txt {
    font-size: 1.6rem;
    font-weight: 100;
  }
}
.work {
  display: inline-block;
  text-align: center;
  &__iconBox {
    vertical-align: bottom;
    margin-bottom: 12px;
  }
  &__icon {
    width: 240px;
    height: auto;
    border-radius: 17.5%;
  }
  &__shortName {
    font-size: 1.6rem;
  }
}
