.section {
  text-align: center;
}

.name {
  font-size: clamp(3rem, 16vw, 21rem);
  color: var(--c-navy);
  line-height: 0.8;
  padding-bottom: 0.7em;
}

.role {
  color: var(--c-white);
  font-size: clamp(1.6rem, 2vw, 2.4rem);
  letter-spacing: 0.3em;
}
