@import '../styles/variables.scss';

$buttonSizeMd: 48px;

.header {
  position: relative;
  display: inline-block;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, calc((100vh - 640px) / 8), 40px);
  @include transition_spacing;
}
.button {
  display: none;
  position: relative;
  width: $buttonSizeMd;
  height: $buttonSizeMd;
  font-size: 2.2rem;
  color: var(--c-white);
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  backdrop-filter: blur(100px);
  border-radius: 17.5%;
  z-index: 1000;
}
.mobileNavContainer {
  display: block;
  gap: 120px;
}
.mobileNav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform-origin: top left;
}

@mixin animationViewMobileNav($gap) {
  gap: 0;
  scale: 0;
  animation: viewMobileNav var(--t-view-mobileNav) ease-out forwards;
  @keyframes viewMobileNav {
    0% {
      gap: 0;
      scale: 0.25;
    }
    100% {
      gap: $gap;
      scale: 1;
    }
  }
}

@media screen and (max-height: 720px) {
  .nav {
    display: none;
  }
  .button {
    display: block;
  }
  .mobileNavContainer {
    display: flex;
    gap: 80px;
  }
  .buttonMenuOpen {
    display: none;
  }
  .mobileNav {
    display: grid;
    @include animationViewMobileNav(calc(((100vw - (60px * 5) - 0px) / 4)));
  }
}
@media screen and (max-height: 720px) and (min-width: 768px) {
  .mobileNav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @include animationViewMobileNav(clamp(40px, calc(((100vw - (72px * 5) - 120px) / 4)), 128px));
  }
}
@include mediaQuery('xl') {
  .nav {
    gap: clamp(16px, calc((100vh - 640px) / 8), 32px);
  }
}
@include mediaQuery('lg') {
  .nav {
    gap: clamp(16px, calc((100vh - 640px) / 8), 26px);
  }
}
@include mediaQuery('md') {
  .nav {
    display: none;
    gap: clamp(16px, calc((100vh - 640px) / 8), 20px);
  }
  .button {
    display: block;
  }
  .mobileNavContainer {
    display: block;
  }
  .mobileNav {
    display: grid;
    @include animationViewMobileNav(calc(((100vw - (72px * 4) - 160px) / 3)));
  }
  .buttonMenuOpen {
    display: none;
  }
}
@include mediaQuery('sm') {
  .mobileNav {
    display: grid;
    @include animationViewMobileNav(calc(((100vw - (60px * 4) - 40px) / 3)));
  }
}
