.layout {
  display: grid;
  place-items: center;
  position: relative;
  padding: 48px 20px 64px;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  grid-column: 2 / 13;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glassContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 1360px;
  min-height: 864px;
  padding: 0 20px;
  z-index: 0;
}

.header {
  position: fixed;
  padding: 64px 6vw;
  text-align: center;
  z-index: 1000;
}

.glass {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  border-radius: 40px;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.3);
  box-shadow: inset 0 0 30px rgba($color: #ffffff, $alpha: 0.5);
  backdrop-filter: blur(50px);
  z-index: 0;
}

.footer {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  text-align: center;
}

.circle_s {
  position: absolute;
  top: 4.8%;
  left: calc(50% - 200px);
  width: 440px;
  height: 440px;
  background: radial-gradient(#539ee3, #eaeaea);
  border-radius: 50%;
  filter: blur(10px);
  z-index: -100;
  animation: circle-s 20s ease infinite;
}
.circle_m {
  position: absolute;
  bottom: 10%;
  right: 7%;
  width: 580px;
  height: 580px;
  background: radial-gradient(#53e37c, #eaeaea);
  border-radius: 50%;
  filter: blur(20px);
  z-index: -10;
  animation: circle_m 18s ease infinite;
}
.circle_l {
  position: absolute;
  bottom: -18%;
  left: -12%;
  width: 700px;
  height: 700px;
  background: radial-gradient(#b94fca, #eaeaea);
  border-radius: 50%;
  filter: blur(30px);
  z-index: -1;
  animation: circle_l 20s ease infinite;
}

@keyframes circle_s {
  0% {
    transform: translateY(0);
    scale: 1;
  }
  50% {
    transform: translateY(25px);
    scale: 0.8;
  }
  100% {
    transform: translateY(0);
    scale: 1;
  }
}
@keyframes circle_m {
  0% {
    transform: translateY(0);
    scale: 0.9;
  }
  50% {
    transform: translateY(60px);
    scale: 1.1;
  }
  100% {
    transform: translateY(0);
    scale: 0.9;
  }
}
@keyframes circle_l {
  0% {
    transform: translateY(0);
    scale: 1.2;
  }
  50% {
    transform: translateY(200px);
    scale: 0.8;
  }
  100% {
    transform: translateY(0);
    scale: 1.2;
  }
}
